# Node.js dependencies
node_modules/

# Dossier de build de Webpack
/dist

# Fichiers de configuration Webpack
webpack*.config.js

# Fichiers de lock de npm
package-lock.json

# Logs et fichiers temporaires
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossier de couverture de test
coverage/

# Fichiers de cache
.cache/

# Dossier des fichiers générés par Babel
/.babel/

# Fichiers générés par IDE (comme VSCode)
.vscode/

# Autres fichiers temporaires
.DS_Store
